<% include ./partials/HEADER %>
  <!-- Start slider  -->
  <section id="aa-slider">
    <div class="aa-slider-area"> 
      <!-- Top slider -->
      <div class="aa-top-slider">
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="/imgs/slider/3.jpg" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <h3 class="aa-top-slider-catg">FOR | OF | BY</h3>
            <!--<h3 class="aa-top-slider-catg">OF  THE BACHELORS/h3>-->
            <!--<h3 class="aa-top-slider-catg">BY  THE BACHELORS</h3>-->
            <h2 class="aa-top-slider-title">THE BACHELORS</h2>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="/imgs/slider/2.jpg" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <h3 class="aa-top-slider-catg">FOR | OF | BY</h3>
            <!--<h3 class="aa-top-slider-catg">OF  THE BACHELORS/h3>-->
            <!--<h3 class="aa-top-slider-catg">BY  THE BACHELORS</h3>-->
            <h2 class="aa-top-slider-title">THE BACHELORS</h2>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
        <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="/imgs/slider/1.jpg" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <h3 class="aa-top-slider-catg">FOR | OF | BY</h3>
            <!--<h3 class="aa-top-slider-catg">OF  THE BACHELORS/h3>-->
            <!--<h3 class="aa-top-slider-catg">BY  THE BACHELORS</h3>-->
            <h2 class="aa-top-slider-title">THE BACHELORS</h2>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->       
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="/imgs/slider/5.jpg" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <h3 class="aa-top-slider-catg">FOR | OF | BY</h3>
            <!--<h3 class="aa-top-slider-catg">OF  THE BACHELORS/h3>-->
            <!--<h3 class="aa-top-slider-catg">BY  THE BACHELORS</h3>-->
            <h2 class="aa-top-slider-title">THE BACHELORS</h2>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->        
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="/imgs/slider/4.jpg" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <h3 class="aa-top-slider-catg">FOR | OF | BY</h3>
            <!--<h3 class="aa-top-slider-catg">OF  THE BACHELORS/h3>-->
            <!--<h3 class="aa-top-slider-catg">BY  THE BACHELORS</h3>-->
            <h2 class="aa-top-slider-title">THE BACHELORS</h2>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
         <!-- Top slider single slide -->
        <div class="aa-top-slider-single">
          <img src="/imgs/slider/6.jpg" alt="img">
          <!-- Top slider content -->
          <div class="aa-top-slider-content">
            <h3 class="aa-top-slider-catg">FOR | OF | BY</h3>
            <!--<h3 class="aa-top-slider-catg">OF  THE BACHELORS/h3>-->
            <!--<h3 class="aa-top-slider-catg">BY  THE BACHELORS</h3>-->
            <h2 class="aa-top-slider-title">THE BACHELORS</h2>
          </div>
          <!-- / Top slider content -->
        </div>
        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider  -->

  <!-- Advance Search -->
  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area">
        <div class="form">
        <form action="/locations" method="GET" class="form-group">  
         <div class="aa-advance-search-top">
            <div class="row">
              <div class="col-md-6">
                <div class="aa-single-advance-search">
                  <input type="text" name="locality" placeholder="Preferred College/Locality" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <select name="category">
                    <option value="All">All</option>
                    <option value="Private">Private</option>
                    <option value="Shared">Shared</option>
                    <option value="Home Stay">Home Stay</option>
                    <option value="Flat">Flat</option>
                    <option value="PG">PG</option>
                </select>
                </div>
              </div>
              <div class="col-md-2">
                 <div class="aa-single-advance-search">
                  <select name="type">
                    <option value="All">All</option>
                    <option value="1 BHK">1 BHK</option>
                    <option value="2 BHK">2 BHK</option>
                    <option value="3 BHK">3 BHK</option>
                    <option value="4 BHK">4 BHK</option>
                    <option value="Single Bed">Single Bed</option>
                    <option value="Double Bed">Double Bed</option>
                </select>
              </div>
              </div>
              <div class="col-md-2">
                <div class="aa-single-advance-search">
                  <input type="submit" value="Search" class="aa-search-btn">
                </div>
              </div>
            </div>
          </div>
         <!--<div class="aa-advance-search-bottom">-->
           <!--<div class="row">-->
           <!-- <div class="col-md-6">-->
           <!--   <div class="aa-single-filter-search">-->
           <!--     <span>AREA (SQ)</span>-->
           <!--     <span>FROM</span>-->
           <!--     <span id="skip-value-lower" class="example-val">30.00</span>-->
           <!--     <span>TO</span>-->
           <!--     <span id="skip-value-upper" class="example-val">100.00</span>-->
           <!--     <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">-->
           <!--     </div>                  -->
           <!--   </div>-->
           <!-- </div>-->
         <!--   <div class="col-md-12">-->
         <!--     <div class="aa-single-filter-search">-->
         <!--       <span>PRICE (₹)</span>-->
         <!--       <span>FROM</span>-->
         <!--       <span id="skip-value-lower2" name="lowerPrice" class="example-val">1000.00</span>-->
         <!--       <span>TO</span>-->
         <!--       <span id="skip-value-upper2" name="upperPrice" class="example-val">15000.00</span>-->
         <!--       <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">-->
         <!--       </div>      -->
         <!--     </div>-->
         <!--   </div>-->
         <!-- </div>-->
          </form>
         </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Advance Search -->

  <!-- About us -->
  <section id="aa-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-about-us-area">
            <div class="row">
              <div class="col-md-5">
                <div class="aa-about-us-left">
                  <img src="/imgs/about-us/about-us1.jpg" alt="image">
                </div>
              </div>
              <div class="col-md-7">
                <div class="aa-about-us-right">
                  <div class="aa-title">
                    <h2>Our Vision</h2>
                    <span></span>
                  </div>
                  <p class="ourVisionContent"><strong>"The Bachelors"</strong> is a startup by the students of MAIT, which consistently keeps trying to minimize the overall living cost fot the bachelors (especially students).</p>                  
                  <p class="ourVisionContent">Renting you a house and getting your daily household done is our Prime Objective.</p>
                  <p class="ourVisionContent">We will provide you with a <strong>Budget-friendly accomodation</strong> by replacing the burden of high brokerage with a <strong>nominal service charge.</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / About us -->

  <!-- Latest property -->
  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        <div class="aa-title">
          <h2>Latest Properties</h2>
          <span></span>
        </div>
        <div class="aa-latest-properties-content">
          <div class="row">
            <% locations.forEach(function(location){ %>
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="/locations/<%= location._id %>" class="aa-properties-item-img">
                  <img src="<%= location.image %>" alt="img">
                </a>
                <div class="aa-tag for-rent">
                  For Rent
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <div class="row">
                      <div class="col-md-4">
                        <span><%= location.category %></span>
                      </div>
                      <div class="col-md-4">
                        <span><%= location.type %></span>
                      </div>
                      <div class="col-md-4">
                        <span>
                          <% if (location.locality.length>10) {%>
                          <%= location.locality.substring(0,10) %>...
                          <% } else {%>
                          <%= location.locality %>
                          <% } %>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="aa-properties-about">
                    <h4><a href="/locations/<%= location._id %>">
                      <% if (location.title.length>35) {%>
                      <%= location.title.substring(0,35) %>...
                      <% } else {%>
                      <%= location.title %>
                      <% } %>
                    </a></h4>
                    <p><%- location.description.substring(0,100) %>...</p>                      
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                      ₹<%= location.price %>/month
                    </span>
                    <a href="/locations/<%= location._id %>" class="aa-secondary-btn">View Details</a>
                  </div>
                </div>
              </article>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Latest property -->

  <!-- Service section -->
  <section id="aa-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-service-area">
            <div class="aa-title">
              <h2>Our Services</h2>
              <span></span>
            </div>
            <!-- service content -->
            <div class="aa-service-content">
              <div class="row">
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-home"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Property Rent</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-utensils"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Cook</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-tshirt"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Laundry</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-broom"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Cleaners/Helpers</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-bolt"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Electricians</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-shower"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Plumbers</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-shipping-fast"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Packers And Movers</a></h4>
                    </div>
                  </div>
                </div>  
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-shopping-basket"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Door Step Groceries</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Service section -->

  <!-- Promo Banner Section -->
  <section id="aa-promo-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-banner-area">
            <h3>Join Our Community</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, ex illum corporis quibusdam numquam quisquam optio explicabo. Officiis odit quia odio dignissimos eius repellat id!</p>
            <a href="#" class="aa-view-btn">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Promo Banner Section -->

  <!-- Our Agent Section-->
  <section id="aa-agents">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-agents-area">
            <div class="aa-title">
              <h2>Our Team</h2>
              <span></span>
            </div>
            <!-- agents content -->
            <div class="aa-agents-content">
              <ul class="aa-agents-slider">
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-1.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">Philip Smith</a></h4>
                      <span>Top Agent</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-5.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">Adam Barney</a></h4>
                      <span>Expert Agent</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-3.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">Paul Walker</a></h4>
                      <span>Director</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-4.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">John Smith</a></h4>
                      <span>Jr. Agent</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                 <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-1.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">Philip Smith</a></h4>
                      <span>Top Agent</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-5.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">Adam Barney</a></h4>
                      <span>Expert Agent</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-3.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">Paul Walker</a></h4>
                      <span>Director</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="/imgs/agents/agent-4.png" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">John Smith</a></h4>
                      <span>Jr. Agent</span>
                      <div class="aa-agent-social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Our Agent Section-->

  <!-- Client Testimonial -->
  <section id="aa-client-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-client-testimonial-area">
            <div class="aa-title">
              <h2>What Client Say</h2>
              <span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eaque quas debitis animi ipsum, veritatis!</p>
            </div>
            <!-- testimonial content -->
            <div class="aa-testimonial-content">
              <!-- testimonial slider -->
              <ul class="aa-testimonial-slider">
                <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="/imgs/testimonials/testimonial-1.png" alt="testimonial img">
                    </div>
                    <div class="aa-testimonial-info">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>David Muller</p>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </li>
                 <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="/imgs/testimonials/testimonial-2.png" alt="testimonial img">
                    </div>
                    <div class="aa-testimonial-info">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>David Muller</p>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </li>
                 <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="/imgs/testimonials/testimonial-3.png" alt="testimonial img">
                    </div>
                    <div class="aa-testimonial-info">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consequuntur ducimus cumque iure modi nesciunt recusandae eligendi vitae voluptatibus, voluptatum tempore, ipsum nisi perspiciatis. Rerum nesciunt fuga ab natus, dolorem?</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>David Muller</p>
                      <span>Web Designer</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<% include ./partials/FOOTER %>